@media only screen and (max-width: 1000px) {
    body {
        max-width: 1000px;
    }
}

body {
    font-family: 'Helvetica', 'sans-serif';
    text-align: center;
    border: 3px solid navy;
    margin: 5px 5px 5px 5px;
    height: 700px;
}

h1 {
    top: 50px;
    color: rgb(230, 0, 0);
    background-color: rgb(255, 255, 255, 0.5);
}

h3 {
    margin-top: 15px;
}
.container {
    color: black;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 40px;
    z-index: 2;
}

.basketballLogo {
    width: 60px;
    top: 25px;
    margin: 10px;
    background: transparent;
}

.header1 {
    position: relative;
    display: inline;
    margin-top: 40px;
}

.form-control {
    margin: 20px 0px 20px 200px;
}

.btn {
    height: 40px;
    margin: 19px 0px 0px 0px;
}

#submit {
    color: black;
    margin: 19px 200px 0px 0px;
    background-color: rgb(255, 255, 255,);
}

#reset {
    color: black;
    background-color: rgb(255, 255, 255,);
    margin: 0px 0px 10px 0px;
    display: none;
}

.backgroundBox {
    background-color: rgb(255, 255, 255, 0.05);
    width: 800px;
    height: 720px;
    margin: auto;
    top: 10px;
}

.aboveSearch {
    margin: 40px auto -10px auto;
}

.input-group mb-3 {
    background-color: rgb(255, 255, 255, 0.4);
}

footer p{
    left: 0;
    right: 0;
    margin: 250px auto 0px auto;
    width: 200px;
    position: absolute;
}